[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
django-background-tasks = "*"
dj-database-url = "*"
django-cors-headers = "*"
pylint = "*"
djangorestframework-simplejwt = {extras = ["blacklist"], version = "*"}
django-filter = "*"

[dev-packages]

[requires]
python_version = "3.9"
